@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/*Navigasjonsbar*/
.navbar {
    height: 3rem;
    z-index: 2;
    position: absolute;
    width: 100%;
    color: #fff;
    margin-top: 0px;
}

    .navbar :hover {
        color: black;
    }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-flex;
}

    li a {
        text-decoration: none;
        float: left;
        display: block;
        padding: 12px;
        font-size: 20px;
        color: #696969;
    }

/*Bakgrunn og overskrift*/
.bg {
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 100%;
    margin-top: -150px;
    background-color: #fff;
}

.overskrift {
    margin-top: 20px;
}

/*Registreningsskjema*/
.main {
    border-radius: 4px;
    position: relative;
    background-color: #fff;
    margin-top: 60px;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 20px;
    /*Denne koden er kopiert fra denne nettsiden: https://getcssscan.com/css-box-shadow-examples*/
    /*Brukte #3*/
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.tynnlinje {
    height: 1px;
    border: 0;
    color: #333;
    background-color: #333;
    width: 80%;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

h2 {
    font-size: 10px;
    margin-bottom: 15px;
    text-align: center;
}

h1 {
    font-size: 10px;
    margin-bottom: 15px;
    text-align: center;
}

.containerNavn {
    width: 45%;
}

.containerObv {
    width: 96%;
}

.containerDato {
    width: 45%;
    margin-top: -138px;
    margin-left: 50%;
}

.containerbtn {
    padding-top: 15px;
}

form {
    padding-top: 10px;
    padding-left: 25px;
    padding-bottom: 10px;
    margin-top: -30px;
}

/*css-kode for inputfeltene*/
input[type=text], textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 5px;
    resize: vertical;
}

    input[type=text]:hover {
        border: 1px solid #000;
    }

    textarea:hover {
        border: 1px solid #000;
    }

label {
    font-size: 15px;
}

/*css-kode for "Registrer" og "Endre" kanppene*/
.btn {
    height: 40px;
    width: 90px;
    padding: 5px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: #fff;
}

.btn2 {
    height: 40px;
    width: 90px;
    padding: 5px;
    border: none;
    border-radius: 4px;
    background-color: #3369ff;
}

input[type=button]:hover {
    cursor: pointer;
    filter: brightness(90%);
    box-shadow: 0 4px 4px;
}

/*css-kode for å gjøre nettsiden responsive*/
@media screen and (max-width: 1024px) {
    .main {
        border-radius: 4px;
        position: relative;
        background-color: #fff;
        margin-top: 60px;
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media screen and (max-width: 750px) {
    .main {
        border-radius: 4px;
        position: relative;
        background-color: #fff;
        margin-top: 60px;
        margin-left: 9%;
        margin-right: 9%;
    }
}
